@model IEnumerable<BasicCRUD.Models.Department>

@{
    ViewBag.Title = "Index";
}

<h2>Departments</h2>
  

@foreach (var item in Model) {
    <ul>
        <li>
            @Html.DisplayFor(modelItem => item.Name)
        </li>
    </ul>
}

