body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana
}

header {
    font-weight: bold;
}

.headerlogo {
    float:left;
    margin-right: 10px;
}

.headerlogo > img {
    height:100px;
    width: 100px;
}

#mainHeader{
    height:80px;
}

.searchbox {
    float:right;
    padding: 5px;
    margin: 10px 5px;
    width: 200px;
    height: 30px;
    height: 30px;
}

#events{
    float:right;
    width:30%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#events > header {
    font-weight: bold;
    margin-left: 10px;
    color: black;
    margin-bottom: 3px;
}

footer {
    clear: both;
    background-color: dimgrey;
    padding: 5px ;
    margin: 20px 0px 20px;
}

#bestsellers {
    height: 100%;
    width: 700px;
    float:left;
    margin-bottom: 20px;
}

.productarticle{
    display: inline-block;
    height:150px;
    width:150px;
    padding: 15px;
    border: 1px solid black;
}

img {
    height: 150px;
    width: 150px;
}